html{
    font-family:arial;
    font-size:12px;
}

#notice{
    font-weight:bold;
    width:200px;
    color:white;
    position:fixed;
    top:20px;
    right:20px;
    text-align:center;
    padding:10px 10px 10px 10px;
}

.failure{
background:red;
}

.success{
background:green;
}

a{
text-decoration:none;
color:blue;
}

a:visited{
color:blue;
}

.it_name{
    width:200px;
}

.it_price{
    width:100px;
}

.fleft{
    float:left;
}

.fclear{
    clear:both;
}

.item_delete_btn:{
//    background:red;
//    background: white url('/images/delete.gif') no-repeat top;
//    border: 0px;
//    visibility:hidden;
}
.list_item td{
    padding:10px;
}
.list_item:hover{
    background:#CCFF99;
}

table{
    border-collapse: collapse;
}

td.buttons{
text-align:center;
}