<footer>
    <section>
      <h4>WISHLISTr</h4>
      <ul>
	<li>Home</li>
	<li>About</li>
	<li>Help</li>
	<li>Contact</li>
      </ul>
    </section>
    <section>
      <h4>YOU</h4>
      <ul>
	<li>Your lists</li>
	<li>Your profile</li>
	<li>Your relatives</li>
      </ul>
    </section>
    <section>
      <h4>SOCIAL</h4>
      <ul>
	<li>Facebook</li>
	<li>Twitter</li>
	<li>Blog</li>
      </ul>
    </section>
    <section>
      <h4>BORING</h4>
      <ul>
	<li>Terms of service</li>
	<li>Privacy policy</li>
	<li>Disclaimer</li>
      </ul>
    </section>
    <section>
      <%= image_tag 'logo.png', :id => 'bottom_logo' %>
    </section>
</footer>
